.AppButton {
  padding: 8px;
  border: 1px solid #666;
  font-weight: bold;
  text-transform: uppercase;

  &:focus, &:active {
    outline: none;
  }

  &:hover{
    background: rgb(41, 158, 158);
  }
}